name: Build & Push Docker Image (and Deploy)

on:
  push:
    branches: [master]

concurrency:
  group: caprover-deploy
  cancel-in-progress: true

jobs:
  build_push_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push (linux/amd64) with cache
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: otanazarov/turk-tili-user:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to CapRover (ImageName)
        uses: caprover/deploy-from-github@v1.1.2
        with:
          server: ${{ secrets.CAPROVER_SERVER }}
          app: ${{ secrets.CAPROVER_APP }}
          token: ${{ secrets.CAPROVER_TOKEN }}
          image: otanazarov/turk-tili-user:latest
